.container3 .contact-container {
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.container3 .contact-container .contact-left {
    width: 80rem;
}

.container3 .contact-container .contact-left .row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container3 .contact-container .contact-left .row input {
    padding: 2rem 2rem 2rem 1rem;
    margin: 0 2rem;
    height: 2rem;
    width: 30rem;
    font-size: 20px;
    margin-top: 1rem;
    background-color: #080a16;
    border-radius: 5px;
}

.container3 .contact-container .contact-left .row .msg {
    width: 200px;
}

.container3 .contact-container .contact-left .row .msg textarea {
    padding: 2rem 2rem 2rem 1rem;
    margin: 0 2rem;
    height: 2rem;
    width: 65rem;
    min-height: 300px;
    font-size: 20px;
    margin-top: 1rem;
    background-color: #080a16;
    border-radius: 5px;
}

.container3 .contact-container .contact-left .row button {
    background-color: #a11625;
    color: var(--white);
    border-radius: 5px;
    margin: 0 2rem 2rem 2rem;
    padding: 0 2rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.container3 .contact-container .contact-left .row button:hover {
    background-color: #080a16;
    transition: 0.2s;
    cursor: pointer;
}

.container3 .contact-container .contact-right {
    width: 40rem;
}

.container3 .contact-container .contact-right .info {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    margin-top: 12.5rem;
    justify-content: center;
}